<!-- https://fontawesome.com/v6.0/icons/ -->

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th colspan="2">Population Density (100 km resolution)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><p class = "fa" style="color:#ffff00;font-size:100%;">&#xf0c8;</p>
            <td>1 - 50</td>
        </tr>
        <tr>
            <td><p class = "fa" style="color:#ff8000;font-size:100%;">&#xf0c8;</p>

            <td>50 - 100</td>
        </tr>
        <tr>
            <td><p class = "fa" style="color:#ff3300;font-size:100%;">&#xf0c8;</p>
            <td>100 - 1000</td>
        </tr>
        <tr>
            <td><p class = "fa" style="color:#ff0000;font-size:100%;">&#xf0c8;</p>
            <td>1000 - 2500</td>
        </tr>
        <tr>
            <td><p class = "fa" style="color:#b30000;font-size:100%;">&#xf0c8;</p>
            <td>2500 - 5000</td>
        </tr>
        <tr>
            <td><p class = "fa" style="color:#660000;font-size:100%;">&#xf0c8;</p>
            <td>5000 - 10000</td>
        </tr>
        <tr>
            <td><p class = "fa" style="color:#260000;font-size:100%;">&#xf0c8;</p>
            <td>> 10000</td>
        </tr>
    </tbody>
</table>

<br>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th colspan="2">Features</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><p class = "fa" style="color:#dc9288;font-size:100%;">&#x23AF;</p>
            <td>Planned Submarine Cables</td>
        </tr>
        <tr>
            <td><p class = "fa" style="color:#a5a3c7;font-size:100%;">&#x23AF;</p>
            <td>Active Submarine Cables</td>
        </tr>
    </tbody>
</table>

<br>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th colspan="2">Markers</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><p class = "fa" style="color:#d43e2a;font-size:100%;">&#xf041;</p>
            <td>Internet Exchange Points</td>
        </tr>
        <tr>
            <td><p class = "fa" style="color:#f49630;font-size:100%;">&#xf041;</p>
            <td>Root Name Servers</td>
        </tr>
        <tr>
            <td><p class = "fa" style="color:#00639f;font-size:100%;">&#xf041;</p>
            <td>Caribbean Landing Points</td>
        </tr>
        <tr>
            <td><p class = "fa" style="color:#38a9dc;font-size:100%;">&#xf041;</p>
            <td>International Landing Points</td>
        </tr>
    </tbody>
</table>