{% extends "base.html" %}

{% block content %}
    <!-- Declaration of Map Title -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">ICT Price Baskets - {{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>
                Tables 1, 2, and 3 displays ICT price basket data on fixed and mobile broadband services respectively for {{ title }}.
            </p>
            
            <p>
                <b>Note 1: </b>Some data fields are missing due to inaccessibility or unavailability of the data.
                This is identified as 'None' in the tables.
            </p>
            <p>
                <b>Note 2: </b>Some figures may be completely blank as there was no data to plot.
            </p>

            <p><u>Table 1: ICT Baskets - GNI per capita - {{ title }}</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Fixed Broadband/ %</th>
                            <th>Mobile Broadband/ %</th>
                            <th>Mobile Low Usage/ %</th>
                            <th>Mobile High Usage/ %</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for item in gni %}
                            <tr>
                                <td>{{ item.year }}</td>
                                <td>{{ item.fix }}</td>
                                <td>{{ item.mob }}</td>
                                <td>{{ item.low }}</td>
                                <td>{{ item.high }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <br>
            <p>Data from Table 1 can be graphically depicted in Figure 1a, 1b, 1c, and 1d.</p>
        </div>
    </div>
    
    <div class='row justify-content-center'>
        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Fixed Broadband Baskets - GNI pc - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 1a: Fixed Broadband Baskets - GNI pc - {{ title }}</u><br>
            </p>
        </div>

        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Mobile Broadband Baskets - GNI pc - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 1b: Mobile Broadband Baskets - GNI pc - {{ title }}</u><br>
            </p>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Mobile Low Data Usage Baskets - GNI pc - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 1c: Mobile Low Data Usage Baskets - GNI pc - {{ title }}</u><br>
            </p>
        </div>

        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Mobile High Data Usage Baskets - GNI pc - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 1d: Mobile High Data Usage Baskets - GNI pc - {{ title }}</u><br>
            </p>
        </div>
    </div>

    <br> 

    <div class='row justify-content-center'>
        <div class="col-10">
            <p><u>Table 2: ICT Baskets - Purchasing Power Parity - {{ title }}</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Fixed Broadband</th>
                            <th>Mobile Broadband</th>
                            <th>Mobile Low Usage</th>
                            <th>Mobile High Usage</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in ppp %}
                            <tr>
                                <td>{{ item.year }}</td>
                                <td>{{ item.fix }}</td>
                                <td>{{ item.mob }}</td>
                                <td>{{ item.low }}</td>
                                <td>{{ item.high }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <br>
            <p>Data from Table 2 can be graphically depicted in Figure 2a, 2b, 2c, and 2d.</p>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Fixed Broadband Baskets - PPP - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 2a: Fixed Broadband Baskets - PPP - {{ title }}</u><br>
            </p>
        </div>

        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Mobile Broadband Baskets - PPP - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 2b: Mobile Broadband Baskets - PPP - {{ title }}</u><br>
            </p>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Mobile Low Data Usage Baskets - PPP - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 2c: Mobile Low Data Usage Baskets - PPP - {{ title }}</u><br>
            </p>
        </div>

        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Mobile High Data Usage Baskets - PPP - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 2d: Mobile High Data Usage Baskets - PPP - {{ title }}</u><br>
            </p>
        </div>
    </div>

    <br>

    <div class='row justify-content-center'>
        <div class="col-10">
            <p><u>Table 3: ICT Baskets - US Dollar - {{ title }}</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Fixed Broadband/ $</th>
                            <th>Mobile Broadband/ $</th>
                            <th>Mobile Low Usage/ $</th>
                            <th>Mobile High Usage/ $</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in usd %}
                            <tr>
                                <td>{{ item.year }}</td>
                                <td>{{ item.fix }}</td>
                                <td>{{ item.mob }}</td>
                                <td>{{ item.low }}</td>
                                <td>{{ item.high }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <br>
            <p>Data from Table 3 can be graphically depicted in Figure 3a, 3b, 3c, and 3d.</p>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Fixed Broadband Baskets - USD - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 3a: Fixed Broadband Baskets - USD - {{ title }}</u><br>
            </p>
        </div>

        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Mobile Broadband Baskets - USD - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 3b: Mobile Broadband Baskets - USD - {{ title }}</u><br>
            </p>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Mobile Low Data Usage Baskets - USD - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 3c: Mobile Low Data Usage Baskets - USD - {{ title }}</u><br>
            </p>
        </div>

        <div class="col-md-5 col-10 text-center">
            <img class='img-fluid' src="/static/images/adoption/baskets/Mobile High Data Usage Baskets - USD - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 3d: Mobile High Data Usage Baskets - USD - {{ title }}</u><br>
            </p>
        </div>
    </div>

    <br>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p><i>
                Source: ITU ICT Price Baskets<br>
                URL: <a href='https://www.itu.int/en/ITU-D/Statistics/Dashboards/Pages/IPB.aspx' target="_blank" rel="noopener noreferrer">https://www.itu.int/en/ITU-D/Statistics/Dashboards/Pages/IPB.aspx</a><br>
                Last Updated: {{ gni[0].updt }}
            </i></p>
        </div>
    </div>
{% endblock %}