{% extends "base.html" %}
{% block content %}
{% include '_report.html' %}

<!-- boundary -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">ICT Price Baskets - {{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>
                {{ title }}'s price basket data for fixed and mobile broadband are listed on this page.<br>
                <b>Note: </b>
                Tables may have missing data.
            </p>

            <p><u>Table 1: ICT Baskets - GNI per capita</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Fixed Broadband/ %</th>
                            <th>Mobile Broadband/ %</th>
                            <th>Mobile Low Usage/ %</th>
                            <th>Mobile High Usage/ %</th>
                        </tr>
                    </thead> 
                    <tbody>
                        {% for item in gni %}
                            <tr>
                                <td>{{ item.date }}</td>
                                <td>{{ item.fix }}</td>
                                <td>{{ item.mob }}</td>
                                <td>{{ item.low }}</td>
                                <td>{{ item.high }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<br>
    <div class='row justify-content-center'>
        <div class="col-10">
            <p><u>Table 2: ICT Baskets - Purchasing Power Parity</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Fixed Broadband</th>
                            <th>Mobile Broadband</th>
                            <th>Mobile Low Usage</th>
                            <th>Mobile High Usage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in ppp %}
                            <tr>
                                <td>{{ item.date }}</td>
                                <td>{{ item.fix }}</td>
                                <td>{{ item.mob }}</td>
                                <td>{{ item.low }}</td>
                                <td>{{ item.high }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<br>
    <div class='row justify-content-center'>
        <div class="col-10">
            <p><u>Table 3: ICT Baskets - US Dollar</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Fixed Broadband/ $</th>
                            <th>Mobile Broadband/ $</th>
                            <th>Mobile Low Usage/ $</th>
                            <th>Mobile High Usage/ $</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in usd %}
                            <tr>
                                <td>{{ item.date }}</td>
                                <td>{{ item.fix }}</td>
                                <td>{{ item.mob }}</td>
                                <td>{{ item.low }}</td>
                                <td>{{ item.high }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<br>
    <div class='row justify-content-center'>
        <div class='col-10'>
            <p><i>
                Source: ITU ICT Price Baskets<br>
                URL: <a href='https://www.itu.int/en/ITU-D/Statistics/Dashboards/Pages/IPB.aspx' target="_blank" rel="noopener noreferrer">https://www.itu.int/en/ITU-D/Statistics/Dashboards/Pages/IPB.aspx</a><br>
                Last Updated: {{ gni[0].updated }}
            </i></p>
        </div>
    </div>
<!-- boundary -->
{% endblock %}