{% extends "base.html" %}

{% block content %}
    <!-- Declaration of Map Title -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">General Information on {{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>
                <b>Note: </b>'NA' means Not Applicable.
            </p>
            
            <h6 style="font-size: 105%; margin-top: 30px;">General Information</h6>
            {{ gen.gen | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Currency</h6>
            {{ gen.cur | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Area</h6>
            {{ gen.area | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Land Use</h6>
            {{ gen.land | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Languages</h6>
            {{ gen.lang | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Population</h6>
            {{ gen.pop | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Population Density</h6>
            <p><u>Average Density: </u>{{ '%0.1f' | format(dens.dens | float) }} people/sq. km</p>
            
            <!-- ------------------------------ To change ------------------------------ -->
            <p><u>Maximum Density: </u>{{ '%0.1f' | format(dens.max_ | float) }} people/sq. km</p>
            <p><u>Minimum Density: </u>{{ '%0.1f' | format(dens.min_ | float) }} people/sq. km</p>
            <p>The following figure displays the population density over {{ title }}.</p>
            
            <img class='img-fluid' src="/static/images/Population Density/{{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 1a: Population Density in {{ title }}</u><br>
            </p>

            <h6 style="font-size: 105%; margin-top: 30px;">Urbanization</h6>
            {{ gen.urb | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Electricity Access</h6>
            {{ gen.elec | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Labour Force</h6>
            {{ gen.lab | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Labour Force - By Occupation</h6>
            {{ gen.occ | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Unemployment Rate</h6>
            {{ gen.unem | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Population Below Povery Line</h6>
            {{ gen.pov | safe }}
            <h6 style="font-size: 105%; margin-top: 30px;">Literacy</h6>
            {{ gen.lit | safe }}

            <br>
            <br>
            <p><i>
                Source: CIA's World Factbook<br>
                URL: <a href='https://www.cia.gov/the-world-factbook/' target="_blank" rel="noopener noreferrer">https://www.cia.gov/the-world-factbook/</a><br>
                Last Updated: {{ gen.updt | safe }}
            </i></p>
            
        </div>
    </div>
{% endblock %}