{% extends "base.html" %}
{% block content %}
{% include '_report.html' %}

<!-- boundary -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">General Information on {{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>
                <b>Note: </b>'NA' means Not Applicable.
            </p>
            <p style="font-size: 105%;"><b>General Information</b></p>
            {{ gen.general | safe }}
            <p style="font-size: 105%;"><b>Currency</b></p>
            {{ gen.currency | safe }}
            <p style="font-size: 105%;"><b>Area</b></p>
            {{ gen.area | safe }}
            <p style="font-size: 105%;"><b>Land Use</b></p>
            {{ gen.land_use | safe }}
            <p style="font-size: 105%;"><b>Languages</b></p>
            {{ gen.language | safe }}
            <p style="font-size: 105%;"><b>Population</b></p>
            {{ gen.tot_pop | safe }}
            <p style="font-size: 105%;"><b>Population Density</b></p>
            <p><u>Average Density: </u>{{ '%0.1f' | format(dens.avg_dens | float) }} people/sq. km</p>
            <p><u>Maximum Density: </u>{{ '%0.1f' | format(dens.max_dens | float) }} people/sq. km</p>
            <p><u>Minimum Density: </u>{{ '%0.1f' | format(dens.min_dens | float) }} people/sq. km</p>        
            <p style="font-size: 105%;"><b>Urbanization</b></p>
            {{ gen.urbanize | safe }}
            <p style="font-size: 105%;"><b>Electricity Access</b></p>
            {{ gen.elec_acc | safe }}
            <p style="font-size: 105%;"><b>Labour Force</b></p>
            {{ gen.lab_frc | safe }}
            <p style="font-size: 105%;"><b>Labour Force - By Occupation</b></p>
            {{ gen.lab_occ | safe }}
            <p style="font-size: 105%;"><b>Unemployment Rate</b></p>
            {{ gen.unem_rt | safe }}
            <p style="font-size: 105%;"><b>Population Below Povery Line</b></p>
            {{ gen.poverty | safe }}
            <p style="font-size: 105%;"><b>Literacy</b></p>
            {{ gen.literacy | safe }}

            <p><i>
                Source: CIA's World Factbook<br>
                URL: <a href='https://www.cia.gov/the-world-factbook/' target="_blank" rel="noopener noreferrer">https://www.cia.gov/the-world-factbook/</a><br>
                Last Updated: {{ gen.updated | safe }}
            </i></p>
        </div>
    </div>
<!-- boundary -->
{% endblock %}