{% extends "base.html" %}

{% block content %}
    <!-- Declaration of Map Title -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">General Information on {{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>
                <b>Note: </b>'NA' means Not Applicable.
            </p>
            
            <p style="font-size: 105%;"><b>General Information</b></p>
            {{ gen.gen | safe }}
            <p style="font-size: 105%;"><b>Currency</b></p>
            {{ gen.cur | safe }}
            <p style="font-size: 105%;"><b>Area</b></p>
            {{ gen.area | safe }}
            <p style="font-size: 105%;"><b>Land Use</b></p>
            {{ gen.land | safe }}
            <p style="font-size: 105%;"><b>Languages</b></p>
            {{ gen.lang | safe }}
            <p style="font-size: 105%;"><b>Population</b></p>
            {{ gen.pop | safe }}
            <p style="font-size: 105%;"><b>Population Density</b></p>
            <p><u>Average Density: </u>{{ '%0.1f' | format(dens.dens | float) }} people/sq. km</p>
            
            <!-- ------------------------------ To change ------------------------------ -->
            <p><u>Maximum Density: </u>{{ '%0.1f' | format(dens.max_ | float) }} people/sq. km</p>
            <p><u>Minimum Density: </u>{{ '%0.1f' | format(dens.min_ | float) }} people/sq. km</p>
            <p>The following figure displays the population density over {{ title }}.</p>
            
            <img class='img-fluid' src="/static/images/general/density/{{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p>
                <u>Figure 1a: Population Density in {{ title }}</u><br>
            </p>

            <p style="font-size: 105%;"><b>Urbanization</b></p>
            {{ gen.urb | safe }}
            <p style="font-size: 105%;"><b>Electricity Access</b></p>
            {{ gen.elec | safe }}
            <p style="font-size: 105%;"><b>Labour Force</b></p>
            {{ gen.lab | safe }}
            <p style="font-size: 105%;"><b>Labour Force - By Occupation</b></p>
            {{ gen.occ | safe }}
            <p style="font-size: 105%;"><b>Unemployment Rate</b></p>
            {{ gen.unem | safe }}
            <p style="font-size: 105%;"><b>Population Below Povery Line</b></p>
            {{ gen.pov | safe }}
            <p style="font-size: 105%;"><b>Literacy</b></p>
            {{ gen.lit | safe }}

            <br>
            <br>
            <p><i>
                Source: CIA's World Factbook<br>
                URL: <a href='https://www.cia.gov/the-world-factbook/' target="_blank" rel="noopener noreferrer">https://www.cia.gov/the-world-factbook/</a><br>
                Last Updated: {{ gen.updt | safe }}
            </i></p>
            
        </div>
    </div>
{% endblock %}