{% extends "base.html" %}

{% block content %}
    <!-- Declaration of Map Title -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted" style="margin-bottom: 15px;">Map of Caribbean ICT Infrastructure and Demographic Data</h5>
        </div>
    </div>

    
    <!-- Legend -->
    <div class='row justify-content-center'>
        <div class="col-10">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#Collapse1" role="button" aria-expanded="false" aria-controls="Collapse1" style="width: 100%;">Legend</a> 
        </div>
        
        <div class="collapse col-10" id="Collapse1" style="margin-top: 0.5em;">
            <div class="card card-body">
                {% include '_legend.html' %}
            </div>
        </div>
    </div>

    <br>
    
    <!-- Map HTML file -->
    <div class='row justify-content-center'>
        <div class="col-10">
            <iframe id='map' src='/static/html/map.html' width="100%" height="400px" style="border: thin solid rgb(200, 200, 200)"></iframe>
        </div>
    </div>
    
    <!-- Additional Map Attributions -->
    <div class="row justify-content-center" style="margin-top: 1em;">
        <div class="col-10">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#Collapse2" role="button" aria-expanded="false" aria-controls="Collapse2" style="width: 100%;">Map Attributions</a> 
        </div>
        
        <div class="collapse col-10" id="Collapse2" style="margin-top: 0.5em;">
            <div class="card card-body">
                <p>
                    <b>Submarine Cables and Landing Points</b><br>
                    Source: <a href='https://git.io/JyPd4' target="_blank" rel="noopener noreferrer">Telegeography Submarine Cable Map</a><br>
                    License: <a href='https://creativecommons.org/licenses/by-nc-sa/3.0/' target="_blank" rel="noopener noreferrer">Creative Commons License: Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0)</a><br>
                    <br>
                    <b>Internet Exchange Points</b><br>
                    Source: <a href='https://www.pch.net/ixp/dir' target="_blank" rel="noopener noreferrer">Packet Clearing House Internet Exchange Directory</a><br>
                    License: <a href='https://creativecommons.org/licenses/by-nc-sa/3.0/' target="_blank" rel="noopener noreferrer">Creative Commons License: Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0)</a><br>
                    <br>
                    <b>Top Level Domains</b><br>
                    Source: <a href='https://www.iana.org/domains/root/db' target="_blank" rel="noopener noreferrer">Internet Assigned Numbers Authority Root Zone Database</a><br>                    <br>
                    <b>Root Servers</b><br>
                    Source: <a href='https://root-servers.org/' target="_blank" rel="noopener noreferrer">Root Server Technical Operations Association</a><br>
                    <br>
                    <b>Population Density</b><br>
                    Source: <a href='https://www.worldpop.org/project/categories?id=18' target="_blank" rel="noopener noreferrer">WorldPop Population Density</a><br>
                    License: <a href='https://creativecommons.org/licenses/by/4.0/' target="_blank" rel="noopener noreferrer">Creative Commons License: Attribution 4.0 International (CC BY 4.0)</a><br>
                </p>
            </div>
        </div>
    </div>

    <br>
    <hr>

    <!-- Toggle Countries Dropdowns -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted" style="margin-bottom: 15px;">Country Comparisons</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class="col-10" >
            <ul>
                <li>
                    Please select one of the buttons below to reveal the underlying graphs.
                </li>
                <li>
                    These buttons are Internet Infrastructure, Internet Adoption, and Internet Use.
                </li>
                <li>
                    These graphs may appear to have no data plotted. Select a country above the graph(s) will add the plot to the graph.
                </li>
                <li>
                    Multiple countries can be selected at a time.
                </li>
            </ul>
            
            <p>
                <b>Note 1: </b>Some graphs may have discontinuities as data was either inaccessible or unavailable.
            </p>

            <p>
                <b>Note 2: </b>Some country selections may not add a plot to the graph. This is due to no available data to plot.
            </p>

            <p>
                For more detailed information, check out the pages under Data Lising.
                Data Listing can be found in the navigation toolbar.
            </p>
        </div>
    </div>
    
    <hr>

    <!-- Iframe Count: 12 -->

    
    <!-- Collapse Object -->
    <div class='row justify-content-center'>
        <div class="col-10">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#Collapse4" role="button" aria-expanded="false" aria-controls="Collapse4" style="width: 100%;">Internet Infrastructure</a> 
        </div>

        <!-- iframe for data -->
        <div class="col-10 collapse" id="Collapse4" style="border: thin solid rgb(200, 200, 200); margin-top: 0.5em;">
            <iframe id='Iframe' src='/static/html/graph_infr.html' width="100%" height="600"></iframe>
            <p style="font-size:12px; text-align: center;">Used with permission from Ookla, LLC – Copyright 20__. All Rights Reserved.</p>
        </div>
    </div>

    <br>
    
    <!-- Collapse Object -->
    <div class='row justify-content-center'>
        <div class="col-10">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#Collapse5" role="button" aria-expanded="false" aria-controls="Collapse5" style="width: 100%;">Internet Adoption</a> 
        </div>
        
        <!-- iframe for data -->
        <div class="col-10 collapse" id="Collapse5" style="border: thin solid rgb(200, 200, 200); margin-top: 0.5em;">
            <iframe id='Iframe' src='/static/html/graph_adop.html' width="100%" height="1000px"></iframe>
            <!-- <p style="font-size:12px; text-align: center;">Source: .</p> -->
        </div>
    </div>

    <br>

    <!-- Collapse Object -->
    <div class='row justify-content-center'>
        <div class="col-10">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#Collapse6" role="button" aria-expanded="false" aria-controls="Collapse6" style="width: 100%;">Internet Use</a> 
        </div>

        <!-- iframe for data -->
        <div class="col-10 collapse" id="Collapse6" style="border: thin solid rgb(200, 200, 200); margin-top: 0.5em;">
            <iframe id='Iframe' src='/static/html/graph_use.html' width="100%" height="700px"></iframe>
            <!-- <p style="font-size:12px; text-align: center;">Source: .</p> -->
        </div>
    </div>

    <!-- <script>
        let iframe = document.querySelector('#Iframe')
        iframe.addEventListener('load', function() {
            iframe.style.height = iframe.contentDocument.body.scrollHeight + 'px';
        });

        var frame = document.getElementById("Iframe");
        frame.onload = function()
        {
            frame.style.height = frame.contentWindow.document.body.scrollHeight + 'px';
        }
    </script> -->

{% endblock %}