{% extends "base.html" %}
{% block content %}
{% include '_report.html' %}

<!-- boundary -->
    <div class='row '>
        <div class="col-1" ></div>
        <div class="col-10" >
            <h5 class="md-10 text-muted">ICT Indicators - {{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>
                Data on {{ title }}'s ICT indicators are listed on this page.<br>
                <b>Note: </b>
                Data in tables may be missing.
            </p>

            <p><u>Table 1: Fixed Broadband Total Subscriptions</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Subscribers</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in indic %}
                            <tr>
                                <td>{{ item.date }}</td>
                                {% if item.fix != None %}
                                    <td>{{ '%0.0f' | format(item.fix | float) }}</td>
                                {% else %}
                                    <td>None</td>
                                {% endif %}  
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <p><i>Last Updated: {{ indic[0].updated }}</i></p>
        </div>
    </div>
<br>
    <div class='row justify-content-center'>
        <div class='col-10'>
            <p><u>Table 2: Mobile Broadband Total Subscriptions - {{ title }}</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Subscribers</th>
                        </tr>
                    </thead>                 
                    <tbody>
                        {% for item in indic %}
                            <tr>
                                <td>{{ item.date }}</td>
                                {% if item.mob != None %}
                                    <td>{{ '%0.0f' | format(item.mob | float) }}</td>
                                {% else %}
                                    <td>None</td>
                                {% endif %}
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <p><i>Last Updated: {{ indic[0].updated }}</i></p>
        </div>
    </div>
<br>
    <div class='row justify-content-center'>
        <div class='col-10'>
            <p><u>Table 3: Percent of Internet Users - {{ title }}</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Percent/ %</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in indic %}
                            <tr>
                                <td>{{ item.date }}</td>
                                {% if item.per != None %}
                                    <td>{{ '%0.0f' | format(item.per | float) }}</td>
                                {% else %}
                                    <td>None</td>
                                {% endif %}
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <p><i>Last Updated: {{ indic[0].updated }}</i></p>
        </div>
    </div>
<br>
    <div class='row justify-content-center'>
        <div class='col-10'>
            <p><u>Table 4: Total Bandwidth Usage - {{ title }}</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Usage/ Mbps</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in indic %}
                            <tr>
                                <td>{{ item.date }}</td>
                                {% if item.bw != None %}
                                    <td>{{ '%0.0f' | format(item.bw | float) }}</td>
                                {% else %}
                                    <td>None</td>
                                {% endif %}
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <p><i>Last Updated: {{ indic[0].updated }}</i></p>
        </div>
    </div>
<br>
    <div class='row justify-content-center'>
        <div class='col-10'>
            <p><i>
                Source: ITU-D Statistics<br>
                URL: <a href='https://www.itu.int/en/ITU-D/Statistics/Pages/stat/default.aspx' target="_blank" rel="noopener noreferrer">https://www.itu.int/en/ITU-D/Statistics/Pages/stat/default.aspx</a><br>
            </i></p>
        </div>
    </div>
<!-- boundary -->
{% endblock %}