{% extends "base.html" %}

{% block content %}

{% include '_report.html' %}

<!-- boundary -->

    <!-- Declaration of Map Title -->
    <div class='row '>
        <div class="col-1" ></div>
        <div class="col-10" >
            <h5 class="md-10 text-muted">ICT Indicators - {{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>
                Tables 1, 2, 3, and 4 displays ICT indicators data on fixed and mobile broadband total subscriptions, percentage of individuals using the internet, and total bandwidth usage (in Mbps) respectively for {{ title }}.
            </p>
            
            <p>
                <b>Note 1: </b>Some data fields are missing due to inaccessibility or unavailability of the data.
                This is identified as 'None' in the tables.
            </p>
            <p>
                <b>Note 2: </b>Some figures may be blank as there was no data to plot.
            </p>

            <p><u>Table 1: Fixed Broadband Total Subscriptions - {{ title }}</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Subscribers</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for item in indic %}
                            <tr>
                                <td>{{ item.date }}</td>
                                {% if item.fix != None %}
                                    <td>{{ '%0.0f' | format(item.fix | float) }}</td>
                                {% else %}
                                    <td>None</td>
                                {% endif %}  
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <p><i>Last Updated: {{ indic[0].updated }}</i></p>
            <br>
            <p>Data from Table 1 can be graphically depicted in Figure 1a.</p>
        </div>
    </div>
    
    <div class='row justify-content-center'>
        <div class="col-10">
            <img class='img-fluid' src="/static/images/use/indicators/Fixed - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p><u>Figure 1a: Fixed Broadband Total Subscriptions - {{ title }}</u></p>
        </div>
    </div>
    
    <br>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p><u>Table 2: Mobile Broadband Total Subscriptions - {{ title }}</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Subscribers</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for item in indic %}
                            <tr>
                                <td>{{ item.date }}</td>
                                {% if item.mob != None %}
                                    <td>{{ '%0.0f' | format(item.mob | float) }}</td>
                                {% else %}
                                    <td>None</td>
                                {% endif %}
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <p><i>Last Updated: {{ indic[0].updated }}</i></p>
            <br>
            <p>Data from Table 2 can be graphically depicted in Figure 2a.</p>
        </div>
    </div>
    
    <div class='row justify-content-center'>
        <div class="col-10">
            <img class='img-fluid' src="/static/images/use/indicators/Mobile - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p><u>Figure 2a: Mobile Broadband Total Subscriptions - {{ title }}</u></p>
        </div>
    </div>

    <br>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p><u>Table 3: Percent of Internet Users - {{ title }}</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Percent/ %</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for item in indic %}
                            <tr>
                                <td>{{ item.date }}</td>
                                {% if item.per != None %}
                                    <td>{{ '%0.0f' | format(item.per | float) }}</td>
                                {% else %}
                                    <td>None</td>
                                {% endif %}
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <p><i>Last Updated: {{ indic[0].updated }}</i></p>
            <br>
            <p>Data from Table 3 can be graphically depicted in Figure 3a.</p>
        </div>
    </div>
    
    <div class='row justify-content-center'>
        <div class="col-10">
            <img class='img-fluid' src="/static/images/use/indicators/Percent - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p><u>Figure 3a: Percent of Internet Users - {{ title }}</u></p>
        </div>
    </div>

    <br>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p><u>Table 4: Total Bandwidth Usage - {{ title }}</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Year</th>
                            <th>Usage/ Mbps</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for item in indic %}
                            <tr>
                                <td>{{ item.date }}</td>
                                {% if item.bw != None %}
                                    <td>{{ '%0.0f' | format(item.bw | float) }}</td>
                                {% else %}
                                    <td>None</td>
                                {% endif %}
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <p><i>Last Updated: {{ indic[0].updated }}</i></p>
            <br>
            <p>Data from Table 4 can be graphically depicted in Figure 4a.</p>
        </div>
    </div>
    
    <div class='row justify-content-center'>
        <div class="col-10">
            <img class='img-fluid' src="/static/images/use/indicators/Bandwidth - {{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p><u>Figure 4a: Total Bandwidth Usage - {{ title }}</u></p>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p><i>
                Source: ITU-D Statistics<br>
                URL: <a href='https://www.itu.int/en/ITU-D/Statistics/Pages/stat/default.aspx' target="_blank" rel="noopener noreferrer">https://www.itu.int/en/ITU-D/Statistics/Pages/stat/default.aspx</a><br>
            </i></p>
        </div>
    </div>

<!-- boundary -->

{% endblock %}