{% extends "base.html" %}
{% block content %}

    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">{{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>
                All information on internet exchange points are grouped by CARICOM member states and associate members
                and can be accessed by selecting one of the following links below.
            </p>

            <div>
                <h5 class="md-10 text-center text-muted">Packet Clearing House</h5>
                <ol class='list-group list-group-numbered'>
                    {% for ctry in ixp1 %}
                        <li class='list-group-item list-group-item-action'>
                            <a href={{ url_for('ixp_page_pch', path=ctry) }}>{{ ctry }}</a>
                        </li>
                    {% endfor %}
                </ol>                   
            </div>
            <br>
            <div>
                <h5 class="md-10 text-center text-muted">PeeringDB</h5>
                <ol class='list-group list-group-numbered'>
                    {% for ctry in ixp2 %}
                        <li class='list-group-item list-group-item-action'>
                            <a href={{ url_for('ixp_page_pdb', path=ctry) }}>{{ ctry }}</a>
                        </li>
                    {% endfor %}
                </ol>                   
            </div>
        </div>
    </div>
{% endblock %}