{% extends "base.html" %}

{% block content %}

{% include '_report.html' %}

<!-- boundary -->

    <!-- Declaration of Map Title -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">Landing Points - {{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <div>
                <p>
                    Table 1 presents all submarine cable landing points in {{ title }} with its respective longitude and latitude coordinates in decimal degrees (°).
                    Associated submarine cables to these landing points are also included.
                </p>

                <p><u>Table 1: Landing Points in {{ title }}</u></p>
                <div class="table-responsive">
                    <table class='table table-sm table-hover'>
                        <thead>
                            <tr class='table-primary'>
                                <th>#</th>
                                <th>Landing Point</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Submarine Cables</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in land %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ '%0.3f' | format(item.lat | float) }}</td>
                                    <td>{{ '%0.3f' | format(item.lon | float) }}</td>
                                    <td>
                                        {% for cable in cables[loop.index - 1] %}
                                            <a href={{ url_for('sub_page', path=cable) }}>{{ cable }}</a>, 
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <br>

            <p>
                The Landing Points in Table 1 are displayed on the following map from left to right using red markers.
            </p>
            <div>
                <img class='img-fluid' src="/static/images/infrastructure/landing/{{ title }}.png" alt="The Image may not exist or has not loaded.">
            <p><u>Figure 1: Landing Points in {{ title }}</u></p>
            <p><b>Note: </b>Some markers may share the same longitude/latitude pairs.</p>

            <p><i>
                Source: Telegeography<br>
                
                URL: <a href='https://git.io/JyPd4' target="_blank" rel="noopener noreferrer">https://git.io/JyPd4</a><br>
                Last Updated: {{ land[-1].updt }}
            </i></p>
        </div>
    </div>
<!-- boundary -->
 {% endblock %}