{% extends "base.html" %}

{% block content %}
    <!-- Declaration of Map Title -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">{{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>
                All information on submarine cable landing points are grouped by CARICOM member states and associate members
                and can be accessed by selecting one of the following links below.
            </p>
            <div>
                <ol class='list-group list-group-numbered'>
                    {% for land in land_all %}
                        <li class='list-group-item list-group-item-action'>
                            <a href={{ url_for('land_page', country=land) }}>{{ land }}</a>
                        </li>
                    {% endfor %}
                </ol>                   
            </div>
        </div>
    </div>
{% endblock %}