{% extends "base.html" %}
{% block content %}

    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">{{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>
                All information on networks are can be accessed by selecting one of the following links below.
            </p>

            <div>
                <ol class='list-group list-group-numbered'>
                    {% for name in net %}
                        <li class='list-group-item list-group-item-action'>
                            <a href={{ url_for('network_page', path=name) }}>{{ name }}</a>
                        </li>
                    {% endfor %}
                </ol>                   
            </div>
        </div>
    </div>
{% endblock %}