{% extends "base.html" %}

{% block content %}
    <!-- Declaration of Map Title -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">{{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>Machine Readable Reports</p>
            <p>
                You can download machine readable reports for Submarine Cables, Landing Points, Internet Exchange Points, ...
                These files are available in either CSV or JSON formats.
            </p>
        </div>
    </div>
{% endblock %}