{% extends "base.html" %}
{% block content %}
{% include '_report.html' %}

<!-- boundary -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">Speed Index - {{ title }}</h5>
        </div>
    </div>
    
    <div class='row justify-content-center'>
        <div class='col-10'>
            <p>
                Table 1 and 2 displays speed index data on fixed and mobile broadband services respectively for {{ title }}.<br>
                <b>Note: </b>
                Dates are formatted as Year-Month-Day.
            </p>
            
            <p><u>Table 1: Fixed Broadband Data</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Date</th>
                            <th>Download/ Mbps</th>
                            <th>Upload/ Mbps</th>
                            <th>Latency/ ms</th>
                            <th>Jitter/ ms</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in fix %}
                            <tr>
                                <td>{{ item.date }}</td>
                                <td>{{ item.dl_spd }}</td>
                                <td>{{ item.up_spd }}</td>
                                <td>{{ item.ltcy }}</td>
                                <td>{{ item.jitt }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
                <p>Used with permission from Ookla, LLC – Copyright 20__. All Rights Reserved.<br><br></p>
            </div>
        </div>
    </div>
    
    <div class='row justify-content-center'>
        <div class="col-10">
            <p><u>Table 2: Mobile Broadband Data</u></p>
            <div class="table-responsive">
                <table class='table table-sm table-hover table-bordered'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Date</th>
                            <th>Download/ Mbps</th>
                            <th>Upload/ Mbps</th>
                            <th>Latency/ ms</th>
                            <th>Jitter/ ms</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in mob %}
                            <tr>
                                <td>{{ item.date }}</td>
                                <td>{{ item.dl_spd }}</td>
                                <td>{{ item.up_spd }}</td>
                                <td>{{ item.ltcy }}</td>
                                <td>{{ item.jitt }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
                <p>Used with permission from Ookla, LLC – Copyright 20__. All Rights Reserved.<br><br></p>
            </div>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>
            <p><i>
                Source: OOKLA® Global Speed Index<br>
                URL: <a href='https://www.speedtest.net/global-index' target="_blank" rel="noopener noreferrer">https://www.speedtest.net/global-index</a><br>
            </i></p>
        </div>
    </div>
<!-- boundary -->
{% endblock %}