<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Root Servers - {{ title }}</title>
    </head>
    <body>
        <div class='row justify-content-center'>
            <div class='col-10'>
                <h5>Root Servers - {{ title }}</h5>
                <p>
                    Table 1 and 2 displays speed index data on fixed and mobile broadband services respectively for {{ title }}.
                </p>
                
                <p>
                    <b>Note: </b>The dates are specified in the format of YYYY-MM-DD.
                </p>

                <p><u>Table 1: Fixed Broadband Data</u></p>
                <div class="table-responsive">
                    <table class='table table-sm table-hover table-bordered'>
                        <thead>
                            <tr class='table-primary'>
                                <th>Date</th>
                                <th>Download/ Mbps</th>
                                <th>Upload/ Mbps</th>
                                <th>Latency/ ms</th>
                                <th>Jitter/ ms</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in fix %}
                                <tr>
                                    <td>{{ item.mnth }}</td>
                                    <td>{{ item.dls }}</td>
                                    <td>{{ item.ups }}</td>
                                    <td>{{ item.ltcy }}</td>
                                    <td>{{ item.jitt }}</td>
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
                <br>
                <p>Data from Table 1 can be graphically depicted in Figures 1a, 1b, 1c, and 1d.</p>
            </div>
        </div>
        
        <div class='row justify-content-center'>
            <div class="col-md-5 col-10 text-center">
                <img class='img-fluid' src="/static/images/Speed Index/Fixed Broadband - Download{{ title }}.png" alt="The Image may not exist or has not loaded.">
                <p><u>Figure 1a: Fixed Broadband Download Speed - {{ title }}</u></p>
            </div>

            <div class="col-md-5 col-10 text-center">
                <img class='img-fluid' src="/static/images/Speed Index/Fixed Broadband - Upload{{ title }}.png" alt="The Image may not exist or has not loaded.">
                <p><u>Figure 1b: Fixed Broadband Upload Speed - {{ title }}</u></p>
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class="col-md-5 col-10 text-center">
                <img class='img-fluid' src="/static/images/Speed Index/Fixed Broadband - Latency{{ title }}.png" alt="The Image may not exist or has not loaded.">
                <p><u>Figure 1c: Fixed Broadband Latency Speed - {{ title }}</u></p>
            </div>

            <div class="col-md-5 col-10 text-center">
                <img class='img-fluid' src="/static/images/Speed Index/Fixed Broadband - Jitter{{ title }}.png" alt="The Image may not exist or has not loaded.">
                <p><u>Figure 1d: Fixed Broadband Jitter Speed - {{ title }}</u></p>
            </div>
        </div>
        
        <br>

        <div class='row justify-content-center'>
            <div class="col-10">
                <p><u>Table 2: Mobile Broadband Data</u></p>
                <div class="table-responsive">
                    <table class='table table-sm table-hover table-bordered'>
                        <thead>
                            <tr class='table-primary'>
                                <th>Date</th>
                                <th>Download/ Mbps</th>
                                <th>Upload/ Mbps</th>
                                <th>Latency/ ms</th>
                                <th>Jitter/ ms</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in mob %}
                                <tr>
                                    <td>{{ item.mnth }}</td>
                                    <td>{{ item.dls }}</td>
                                    <td>{{ item.ups }}</td>
                                    <td>{{ item.ltcy }}</td>
                                    <td>{{ item.jitt }}</td>
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
                <br>
                <p>Data from Table 2 can be graphically depicted in Figures 2a, 2b, 2c, and 2d.</p>
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class="col-md-5 col-10 text-center">
                <img class='img-fluid' src="/static/images/Speed Index/Mobile Broadband - Download{{ title }}.png" alt="The Image may not exist or has not loaded.">
                <p><u>Figure 2a: Fixed Broadband Download Speed - {{ title }}</u></p>
            </div>

            <div class="col-md-5 col-10 text-center">
                <img class='img-fluid' src="/static/images/Speed Index/Mobile Broadband - Upload{{ title }}.png" alt="The Image may not exist or has not loaded.">
                <p><u>Figure 2b: Fixed Broadband Upload Speed - {{ title }}</u></p>
            </div>
        </div>

        <div class='row justify-content-center'>
            <div class="col-md-5 col-10 text-center">
                <img class='img-fluid' src="/static/images/Speed Index/Mobile Broadband - Latency{{ title }}.png" alt="The Image may not exist or has not loaded.">
                <p><u>Figure 2c: Fixed Broadband Latency Speed - {{ title }}</u></p>
            </div>

            <div class="col-md-5 col-10 text-center">
                <img class='img-fluid' src="/static/images/Speed Index/Mobile Broadband - Jitter{{ title }}.png" alt="The Image may not exist or has not loaded.">
                <p><u>Figure 2d: Fixed Broadband Jitter Speed - {{ title }}</u></p>
            </div>   
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>