<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Top Level Domain - {{ tld.ctry_ | safe }}</title>
</head>
<body>
    <div class='row justify-content-center'>
        <div class='col-10'>
            <h5>Top Level Domains - {{ title }}</h5>
            
            <p>
                {{ title }} has a domain name of {{ tld.cc }} which is a {{ tld.type_ }}.
            </p>
            
            <u><h6 style="font-size: 110%;">ccTLD Manager</h5></u>
            <span>
                {{ tld.cctld | safe }}
            </span>

            <u><h6 style="font-size: 110%;">Administrative Contact</h5></u>
            <span>
                {{ tld.ad_con | safe }}
            </span>

            <u><h6 style="font-size: 110%;">Technical Contact</h5></u>
            <span>
                {{ tld.tch_con | safe }}
            </span>

            <u></u><h6 style="font-size: 110%;">Name Servers</h5></u>
            <span>
                {{ tld.nm_svr | safe }}
            </span>

            <br>
            
            <u><h6 style="font-size: 110%;">Registry Information</h5></u>
            <span>
                {{ tld.reg | safe }} 
            </span>

            <p><i>
                Source: Internet Assigned Numbers Authority (IANA)<br>
                URL: <a href='https://www.iana.org/domains/root/db' target="_blank" rel="noopener noreferrer">https://www.iana.org/domains/root/db</a><br>
                {{ tld.dates | safe }}
            </i></p>
            
        </div>
    </div>
            
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>