{% extends "base.html" %}

{% block content %}
    <!-- Declaration of Map Title -->
    <div class='row justify-content-center'>
        <div class="col-12" >
            <h5 class="md-10 text-center text-muted">Top Level Domains - {{ title }}</h5>
        </div>
    </div>

    <div class='row justify-content-center'>
        <div class='col-10'>          
            <p>
                {{ title }} has a domain name of {{ tld.cc }} which is a {{ tld.type_ }}.
            </p>
            
            <p style="font-size: 105%;"><b>ccTLD Manager</b></p>
            <span>
                {{ tld.cctld | safe }}
            </span>
            
            <p style="font-size: 105%;"><b>Administrative Contact</b></p>
            <span>
                {{ tld.ad_con | safe }}
            </span>

            <p style="font-size: 105%;"><b>Technical Contact</b></p>
            <span>
                {{ tld.tch_con | safe }}
            </span>

            <p style="font-size: 105%;"><b>Name Servers</b></p>
            <span>
                {{ tld.nm_svr | safe }}
            </span>

            <br>
            
            <p style="font-size: 105%;"><b>Registry Information</b></p>
            <span>
                {{ tld.reg | safe }} 
            </span>

            <p><i>
                Source: Internet Assigned Numbers Authority (IANA)<br>
                URL: <a href='https://www.iana.org/domains/root/db' target="_blank" rel="noopener noreferrer">https://www.iana.org/domains/root/db</a><br>
                {{ tld.dates | safe }}
            </i></p>
            
        </div>
    </div>
{% endblock %}